.imgPost{
  height: 200px;
  
}
.imgPostg:hover {
 
    cursor: pointer;
}
p{
  max-width: 600px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  #form {
   
    width: 250px;
    
  }
}